:root Tenez Bold

font-family: tenez, sans-serif;

font-weight: 700;

font-style: normal;


Tenez Regular

font-family: tenez, sans-serif;

font-weight: 400;

font-style: normal;




/** 
 * Layout Defaults 
**/

html {
    box-sizing: border-box;
}
*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: tenez, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/**
  * Green Bar 
**/

.component__code_green {
    color: white;
    text-align: center;
    background-color: #1AAA85;
    padding: 1px;
    font-family: tenez, sans-serif;
}

.topbar {
    color: white;
}
  
/**
    *HERO
**/

.hero {
    border: 1px solid lightsalmon;
    padding: 10px;
    background-image: url("../images/mini-sucs.jpg");
}

.nav-body {
    padding: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: 3rem;
}

/**
  * Navigation Bar
**/

.the {
    font-weight: bold;
    font-size: 3rem;
}

.sill {
    font-weight: bold;
    font-size: 3rem;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin:0;
  }



/**
  * Body Copy
**/

.body_copy {
    line-height: 1.5rem;
    padding: 2rem;
    
}

.page {
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

.p1 {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.p2 {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.p3 {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.invite {
    background-color: lightgrey;
    padding: 5rem;
}
.title/p {
    float: left;
}
.text-enter {
    float: right;
   
}


/**
  * Buttons 
**/

.button1 {
    background-color: #1AAA85;;
    color: #fff;
    padding: 19px;
    width: 140px;
    border-radius: 3px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 1rem;
}


.shop {
   color: #1AAA85;
   padding: 10px;
   width: 140px;
   margin: 3px;
   border-radius: 3px;
   text-align: center;
   display: block;
}
.shop_title {
    color: #1AAA85;
    font-weight: bold;
}
.shop_arrow {
    max-width: 10%;
}

.card-box {
    display: flex;
    color: black;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 auto; 
    margin: 0 auto; 
}

.card-box_img {
    width: 95%;
}

